{% extends "reservations/base.html" %}

{% block title %}Instructions{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="page-header">
				<h1>Instructions</h1>
			</div>
			<p>Welcome to the equipment reservation and checkout system for the ASI Communications video productions team and College Beat TV. ASI puts a high value on the skill and dedication of our student employees and we thank you in advance for respecting the trust we put in you in keeping this equipment as well-kept as possible. To make sure the equipment is kept in good condition please follow these accountability measures:</p>
			<ul>
				<li>Restore the equipment to its proper location</li>
				<li>Personally inspect each item before restoring it</li>
				<li>Inform the Beach Pride Admin of ALL broken/faulty/damaged equipment so producers aren’t negatively impacted on the next shoot</li>
			</ul>
			<p>Please be sure to thoroughly read through these instructions before using the system.</p>
			<div class="jumbotron text-center">
				<h2><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> PICK-UP &amp; DROP-OFF TIMES</h2>
				<p><strong>9:30 AM TO 4:30 PM</strong><br />Beach Pride Office Hours: 9 a.m. to 5 p.m.</p>
			</div>
			<h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Beach Pride System Admins</h2>
			<ul>
				<li>Beach Pride student assistants shall operate as the administrators of this system and have authority to approve or deny requests based on the rules on this page.</li>
				<li>These admins are not meant to be inventory specialists; that is the job of the producers. They will operate as the gatekeepers of the equipment to ensure a consistent reservation, check-out, and check-in process.</li>
			</ul>
			<h2><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Online Reservation Request Process</h2>
			<p>The interface mimics that of a calendar of events, except rather than creating an event, you are adding the details of your equipment reservation:</p>
			<ul>
				<li>Project name</li>
				<li>Pick-up &amp; Drop-off Times</li>
				<li>Equipment</li>
				<li>Crew</li>
				<li>Producer</li>
				<li>Notes</li>
			</ul>
			<h2><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Physical Check-out Process</h2>
			<ul>
				<li>Up to 2 staff members may assist with the check-out process (not including Beach Pride Admin).</li>
				<li>Begin by visiting the Beach Pride Center during your approved pick-up time.</li>
				<li>If edits are needed, before checking out your equipment you may work with the Beach Pride Admin to edit your request – adding equipment, removing equipment, changing your staff list, changing start/end time, etc. To expedite this process, you are encouraged to edit your equipment list before arriving by logging into the system, finding your reservation and saving your edited reservation.</li>
				<li>From there, the admin will press ‘check-out’ and print you a copy of your final reservation.</li>
				<li>The admin will walk you (and your +1 if applicable) to the equipment office and give you your reservation printout. Be sure to take everything on your list; it is your responsibility to not leave anything behind.</li>
				<li>The Beach Pride Admin will let you in, then lock the door (leaving it still open) and leave the producers to take the equipment. If Maggie is not in the office, you will not have the ability to re-enter once the door is closed.</li>
			</ul>
			<h2><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Physical Check-in Process</h2>
			<ul>
				<li>Up to 2 staff members may assist with the check-in process (not including Beach Pride Admin).</li>
				<li>Begin by visiting the Beach Pride Center with your equipment during your approved drop-off time.</li>
				<li>Report any issues with the equipment at this time, as well as anything that may have happened, major and minor, to the equipment during your reservation time. The admin will note the updates in the system.</li>
				<li>From there, the admin will press ‘check-in’ and walk you (and your +1 if applicable) to the equipment office. Be sure to replace everything on your list, it is your responsibility to not leave anything out and you will be held accountable for your last reservation if any of the items go missing.</li>
				<li>The Beach Pride Admin will lock the door and leave the producers to restock the equipment. Once the producers finish putting equipment away and close the door, they will not be able to re-enter if Maggie is not in the office at the same time.</li>
			</ul>
			<h2><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Normal Reservations (6-hours or less)</h2>
			<ul>
				<li>All reservations, unless specifically approved by Maggie, Nicole or Danny, must be for under 6-hours. Failure to observe this rule will result in the Beach Pride Admin denying your reservation request.</li>
				<li>Requests should ideally be made at least a week in advance.</li>
				<li>If a reservation is made week of, be sure to notify your supervisor, but in general try to limit this.</li>
				<li>Same-day reservations are highly discouraged; however, same-day reservations may be required if you already checked out your equipment and needed to come back for additional supplies.</li>
			</ul>
			<h2><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> Overnight Reservations</h2>
			<ul>
				<li>Prior to placing an overnight reservation, you must receive permission from your supervisor or department head. For CBTV that is Nicole, and in her absence, Danny. For ASIVP that is Maggie, and in emergencies, James.
					<ul>
						<li>Please note who approved your overnight request in the NOTES section of the reservation process.</li>
					</ul>
				</li>
				<li>Once your reservation has been approved, the pick-up and drop-off process stays relatively the same, except:
					<ul>
						<li>The Beach Pride Admin will also give you the equipment office key upon checkout.</li>
						<li>Rather than beginning your drop-off process at the Beach Pride Center, you will go directly to the equipment office.</li>
						<li>The key must be returned to the ASI Business Office money box on the 2nd floor of the USU, near ASI Human Resources.</li>
						<li>Any problems or notes for the equipment should be logged by emailing <a href="mailto:info@beachpride.com">info@beachpride.com</a>, specifically listing which equipment you are referring to by name and label code.</li>
					</ul>
				</li>
				<li>Saturday &amp; Sunday Shoots
					<ul>
						<li>All weekend reservations must be picked up by 4:30 p.m. on the Friday prior to the shoot.</li>
						<li>If returning by 11:30 p.m. on Saturday, these shoots are considered the same as an overnight reservation and you will follow the outlines overnight process outlined above.</li>
						<li>If crossing over to a Sunday, the USU will be closed and the drop-off process should occur first thing Monday morning, beginning the check-in process at the Beach Pride Center to assure the equipment is back from all-weekend usage.</li>
						<li>If both entities require a weekend reservation at the same time, prior discussion and arrangements must be worked out verbally and emailed to <a href="mailto:info@beachpride.com">info@beachpride.com</a> prior to pick-up.</li>
					</ul>
				</li>
			</ul>
			<h2><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Emergency Reservations</h2>
			<ul>
				<li>If a same-day emergency reservation is required, follow the ‘Normal Reservations’ process, but also immediately email <a href="mailto:info@beachpride.com">info@beachpride.com</a>, Nicole and Maggie. Even if the equipment is shown as available, notification will allow them to review and help make sure the process is smooth.</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}